In [9]:
from game_one.get_meta_matrix import GetMetadata, COLUMNS
from game_one.model_content_svd import ContentBasePred

In [8]:
print ('Initiate the GetMetaMatrix class and store as instance')
get_metadata = GetMetadata(COLUMNS)
print('transfer given columns into a meta string for NPL use purpose after')
metadata = get_metadata.create_metadata()
print(f'{metadata.shape} games has been added the metadata')

Initiate the GetMetaMatrix class and store as instance
transfer given columns into a meta string for NPL use purpose after
(17695,) games has been added the metadata

In [16]:
content_base_pred = ContentBasePred()
get_metadata = content_base_pred.get_metadata()
content_base_pred.load_tf()

In [19]:
content_base_pred.metadata

0        high rise a puzzle cityscape high rise is a in...
1        high rise a puzzle cityscape high rise is a in...
2        twinfold  p twinfold delves into the duplicity...
3        pocket run pool  p the return of arcade pool f...
4        cinco paus tens cinco varinhas mágicas mas não...
                               ...
17690    gocco of war enter the studio  and join a make...
17691    conquest of elysium 4 conquest of elysium 4 is...
17692    dominions 5 warriors of the faith you are a go...
17693    red faction battlegrounds the signature destru...
17694    super stardust ultra the fate of the galaxy is...
Name: metadata, Length: 17695, dtype: object

In [20]:
df = pd.DataFrame(content_base_pred.metadata)

In [21]:
df

                                                metadata
0      high rise a puzzle cityscape high rise is a in...
1      high rise a puzzle cityscape high rise is a in...
2      twinfold  p twinfold delves into the duplicity...
3      pocket run pool  p the return of arcade pool f...
4      cinco paus tens cinco varinhas mágicas mas não...
...                                                  ...
17690  gocco of war enter the studio  and join a make...
17691  conquest of elysium 4 conquest of elysium 4 is...
17692  dominions 5 warriors of the faith you are a go...
17693  red faction battlegrounds the signature destru...
17694  super stardust ultra the fate of the galaxy is...

[17695 rows x 1 columns]