In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../raw_data/rawg_user_games.csv')

/Users/zongyizhu/.pyenv/versions/3.8.6/envs/game_one/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df

,user_id,game_id,game_slug,game_name,user_rating,metacritic,rawg_rating,released,play_time
0,1,446900,high-rise-a-puzzle-cityscape,High Rise - A Puzzle Cityscape,4,NaN,0.00,2020-05-16,0
1,1,264830,twinfold,Twinfold,5,NaN,0.00,2018-12-05,0
2,1,58443,pocket-run-pool,Pocket-Run Pool,4,NaN,0.00,2018-05-24,0
3,1,51288,cinco-paus,Cinco Paus,0,NaN,0.00,2017-12-25,0
4,1,21889,desert-fox-the-battle-of-el-alamein,Desert Fox: The Battle of El Alamein,4,NaN,0.00,2014-06-26,0
...,...,...,...,...,...,...,...,...,...
255492,rasha27,5578,grid,Race Driver: Grid,5,87.0,3.67,2008-06-03,1
255493,rasha27,326292,fall-guys,Fall Guys: Ultimate Knockout,3,80.0,3.87,2020-08-04,4
255494,rasha27,2572,dirt-rally,DiRT Rally,5,86.0,3.74,2015-12-07,4
255495,rasha27,4003,grid-2,GRID 2,5,80.0,3.30,2013-05-27,4
255496,rasha27,3272,rocket-league,Rocket League,5,86.0,4.01,2015-07-07,17

In [4]:
df_note = df[df['user_rating']>0]

In [8]:
df_note.sort_values('user_rating')

,user_id,game_id,game_slug,game_name,user_rating,metacritic,rawg_rating,released,play_time
75763,287,14166,detour,DETOUR,1,NaN,1.72,2011-05-16,3
236460,901,15507,chasm,Chasm,1,NaN,3.61,2018-07-30,5
32773,146,28597,nhl-14,NHL 14,1,80.0,3.19,2013-09-10,34
236458,901,14085,seasons-after-fall,Seasons After Fall,1,75.0,3.27,2016-09-01,4
236446,901,258,a-kings-tale-final-fantasy-xv,A KING'S TALE: FINAL FANTASY XV,1,NaN,2.98,2016-11-29,0
...,...,...,...,...,...,...,...,...,...
231538,875,10419,subnautica,Subnautica,5,83.0,4.25,2018-01-23,9
120772,465,29171,the-evil-within-2,The Evil Within 2,5,82.0,4.10,2017-10-11,14
231534,875,21926,uncharted-the-lost-legacy,Uncharted: The Lost Legacy,5,85.0,4.29,2017-08-22,0
49810,202,39707,god-of-war-ii,God of War II,5,NaN,4.40,2007-03-13,17
255496,rasha27,3272,rocket-league,Rocket League,5,86.0,4.01,2015-07-07,17

In [12]:
df_note.groupby('user_id').count().sort_values('user_rating',ascending=False )

,game_id,game_slug,game_name,user_rating,metacritic,rawg_rating,released,play_time
user_id,,,,,,,,
655,1272,1272,1272,1272,670,1272,1265,1272
989,852,852,852,852,264,852,850,852
934,623,623,623,623,367,623,620,623
9,584,584,584,584,413,584,581,584
893,564,564,564,564,455,564,563,564
...,...,...,...,...,...,...,...,...
909,1,1,1,1,1,1,1,1
712,1,1,1,1,1,1,1,1
163,1,1,1,1,1,1,1,1
276,1,1,1,1,1,1,1,1
476,1,1,1,1,1,1,1,1